<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <% provide(:title, "Home") %>
</head>
<body>

  <div class="row home">

    <% @albums.each do |album| %>
      <div class="large-4 small-6 columns home">
        <%= link_to(image_tag(album.photos[0].photo.url), album_path(album)) %>
        <div class="panel home">
          <h5>
            <%= link_to(album.name, album_path(album), class: "photo-title") %>
          </h5>
          <h6 class="subheader">
            by <%= link_to(album.user.username, user_path(album.user),
            class: "username") %>
          </h6>
        </div>
      </div>
    <% end %>

  </div>

</body>
</html>
