<h1><%= @album.name %></h1>
<p>
  <%= @album.description %>
</p>
<div id = "user">
  <%= @album.user.username %>
</div>

<% n = 0 %>
<% @album.photos.each do |photo| %>
  <%= link_to(image_tag(photo.photo.url), album_photo_path(@album, photo), id: "photo#{n}") %>
  <% n += 1 %>
<% end %>
