<div class="black-background">
  <div class="row">
    <%= image_tag(@photo.photo.url, class: "only-photo") %>
  </div>
</div>

<div class="text-center panel photo">
  <h1><%= link_to @album.name, album_path(@album) %></h1>
  <p>
    <%= @album.description %>
  </p>
  <div id = "user">
    <%= @album.user.username %>
  </div>
</div>
